h1 {
    color: #f6f1f1;
    background-color: black;
    width: 60%;
    min-width: 300px;
    padding: 4px;
    margin-bottom: 20px;
    grid-column: span 2;
    border-radius: 10px; /* runde kanter på bakgrunn */
    text-align: center;
}

section {
    display: flexbox;
    border: 2px solid;
    min-width: 300px;
    width: 100%;
    background-color: #096b0ec3;
    color: #fff3bfe9;
    border-radius: 10px; /* runde kanter på boks */
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px;
    align-items: start;
    padding: 10px;
    justify-content: center; /* Center the content horizontally */
    justify-items: center; /* Center the items within the grid cells */
}

.topWhitebox {
    background-color: white; /* Changed background color to white */
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: left; /* Align text to the left */
    grid-column: span 2; /* Span across both columns */
    color: #333; /* Changed text color to grey */
    border: none; /* Removed border */
}

.firstAid {
    background-color: red; 
}

.loadSafety {
    background-color: rgb(34, 136, 50); 
}

.dayPlanning {
    background-color: rgb(0, 0, 255); 
}

.brakeSystem {
    background-color: rgb(97, 78, 17); 
}

.firstAid h3,
.loadSafety h3,
.dayPlanning h3,
.brakeSystem h3 {
    text-align: center; 
}

@media (max-width: 300px) {
    body {
        grid-template-columns: 1fr;
    }

    section {
        width: 100%;
    }
}